.container {
  background: black;
  font-family: "Poppins", sans-serif;
  .cardsContainer {
    padding: 2rem;
    .adminContainer {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: 2.5rem;

      .title {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 2rem;
        color: white;
      }
    }
  }
}
